@import "normalize.scss";


/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

// Modular Scale (16px/ Scale 2:3 - perfect fifth)
body {
    font-size: 1em;
    line-height: 1.5; 
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #a4be30;
    text-shadow: none;
}

::selection {
    background: #a4be30;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
    width: 100%;   // responsive images
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   GGS Aldenhoven custom styles
   ========================================================================== */

// color-variables
$headline: #637700;
$bodytext: #221919;
$footertext: #eee;
$navtext: #32362e;
$textlink: #6a7f10;
$hover: #e55A2D; // #8f2332
$textmeta: #6c6d6d;
$texthead: #6a7f10;
$bg_html: #a4be30;
$bg_content: #fdfcec;
$bg_footer: #111;
$bg_nav: #41661d;
$bg_banner: #edd290;

// sizes-variables
$gutter: 2.60416666%;
$column: 31.575520833333332%;

// Typography (Typeface,Vertical Rhythm and Scale)

h1,h2,h3, p.intro {
    text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.25em; /* 36px */
  line-height: 1.3333em; /* 48px */
  margin-top: 0.6667em;
  margin-bottom: 0.6667em;;
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em; /* 24px */
  line-height: 1em; /* 24px */
  margin-top: 1em;
  margin-bottom: 1em;
  text-transform: uppercase;
}

h3 {
    font-size: 1.125em; /* 18px */
    line-height: 1.333333em; /* 24px */
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
}

h4 {
    font-size: 1em; /* 16px */
    line-height: 1.5em; /* 24px */
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
}

p {
  font-size: 1em; /* 16px */
  line-height: 1.5em; /* 24px */
  margin: 0 0 1.5em 0;
}


.meta {
    font-size: 0.6875em; /* 11px */
    line-height: 2.1818em; /* 24px */
    margin-top: 0;
    margin-bottom: (2.1818em)/2;
    color: $textmeta;
    font-style: italic;
}

.class-for-12px {
  font-size: 0.75em; /* 12px */
  line-height: 2em; /* 24px */
  margin-top: 2em;
  margin-bottom: 0em;
}






// general layout for all Browser (lte IE8) and feature Phones

/* apply a natural box layout model to all elements */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.grid {
    width: 90%;
    margin: 0 auto;
}

html {
    background-color: $bg_html;
}

body {
    color: $bodytext;
}

a {
    text-decoration: none;
    color: $textlink;
    border-bottom: 1px dashed $textlink;
    &:hover {
        //background: $textlink;
        color: $hover;
        border-bottom: 1px solid $hover;
    }
}

p.readmore {
    margin: -0.75em 0 2.25em;
}


// #content {
//     background-color: transparent;
// }

aside {
    // @extend #content;
    padding: 0 $gutter;
    background-color: $bg_content;
    li {
        list-style: none;
        // width: $column;
        // margin-right: $gutter;
        // &:last-child {margin-right: 0};
        // float: left;
    }
}


// H E A D E R

// Sub-Nav
#sub-nav {
    font-size: 0.75em; /* 12px */
    line-height: 2em;
    ul {
        text-align: right;
    }
        li {
        display: inline-block;
        line-height: 1em;
        padding: 0 $gutter/6;
        border-right: 1px solid lighten($navtext,10%);
        &:last-child {
            border: 0;
            padding-right: 0;
            }
        }
}

#sub-nav a {
    color: $navtext;
    border: 0;
    &:hover {
        background: transparent;
        border-bottom: 1px solid lighten($navtext,10%);
        padding-bottom: 1px;
    };
}

// Search
form.search {
    text-align: right;
}

form.search fieldset input[type="text"] {
    width: 12em;
    padding: 0.4em;
    border: 1px solid lighten($navtext,40%);
    background: #f5f5f5;
    }
form.search fieldset input[type="submit"] {
    width: 2em;
    padding: 0.4em;
    margin-left: -0.35em;
    border: 1px solid lighten($navtext,40%);
    background: $bg_nav url(/img/gemicons/6.png) center center no-repeat;
    text-indent: -9999;
    }
form.search fieldset input[type="submit"]:hover,
form.search fieldset input[type="submit"]:focus {
    background: darken($bg_nav,10%) url(/img/gemicons/6.png) center center no-repeat;
    }
form.search fieldset input[type="submit"]:active {
    background: darken($bg_nav,10%) url(/img/gemicons/6.png) center center no-repeat;
    }               


// Main-Nav
#main-nav {margin-top: 2.5em;}
#main-nav ul {
    float: right;
    li {
        float: left;
        padding: 0.5em 1em;
        background: $bg_nav;
        border-right: 1px solid $bg_html;
        &:hover, &:focus {
            background: darken($bg_nav,10%);
        };
        a {
            color: #fff;
            border: 0;
            padding: 0;
            &:hover {
                background: transparent;}
        }
    }
}

#main-nav ul ul {
    position: absolute;
    display: block;
    left: -9999px;
    margin-top: 0.5em;
    margin-left: -1em;
    //padding: 0.5em 1em;
    li {
    position: relative;
    float: none;
    padding: 0.5em 1em;
    border-top: 1px solid $bg_html;
    border-right: 0;
     }
}

#main-nav li:hover > ul  {
    display: block;
    left: auto;
    z-index: 1;
}

// Branding (Logo)
#branding {
    position: absolute;
    top: 0;
    margin: 0;
    background: $bg_banner;
    padding: 1.5em 0.5em 0.5em;
    width: 8em;
    line-height: 1em;
    a {
        color: $navtext;
        border: 0;
        padding: 0;
        &:hover {
        background: transparent;
        }
    }
}

#branding #one, #branding #two{
    font-size: 0.666667em; /* 24px */
    line-height: 1em;
    }
#branding #four {
    font-size: 0.44444em; /* 16px */
    line-height: 1.2em;
    }



// F R O N T P A G E
// Slider
#content .flexslider {
    margin: 1em auto 4em;
    border: 0;
}

#content .flex-control-nav {
    bottom: -25px;
}

// tagline
header[role="heading"] {
    position: absolute;
}
#tagline {
    text-align: center;
    color: $navtext;
    width: 98%;
    position: relative;
    background: $bg_banner;
    padding: 2%;
    margin-left: -2%;
    margin-top: -6em;
    span {
        font-size: 0.75em;
        line-height: 1em;
    }
}


// features

#news h2>a, #events h2>a, #herogallery h2>a,{
    color: $bodytext;
    padding-bottom: 0;
    border: 0;
    &:hover {
        padding-bottom: 0;
        border: 0;
    }
}

.frontpage aside h3 {
    color: $texthead;
    margin-bottom: 0;
    a {
        padding: 0;
        border: 0;
        &:hover {
            color: $hover;
        }
    }
}

#events .date {
    //display: block;
    width: 12%;
    text-align: right;
    float: left;
    margin: -0.25em 1.5em 0 0;
    padding: 0.5em 1em 0.5em 0;
    // background: $bg_nav;
    border-right: 1px dashed $texthead;
    li.day-month {
        color: $textmeta;
        font-weight: bold;
        font-size: 1.25em; /* 18px */
        line-height: 0.75em;
        }
    li.year {
        font-style: italic;
        color: $textmeta;
        font-size: 0.875em;  /* 14px */
    }
}


// F O O T E R
footer {
    background: $bg_footer url(/img/bg_chalkboard-black-4.jpg) repeat;
    color: $footertext;
    padding: 0 $gutter;
    font-size: 0.75em; /* 12px */
    line-height: 2em; /* 24px */
    letter-spacing: 0.1em;

    a {
        color: $footertext;
        border: 0;
        padding: 0;
        &:hover {
            background: transparent;
            padding-bottom: 1px;
            border-bottom: 1px solid darken($footertext, 20%)
        }
    }

    h3 {
        font-size: 1.333333em;
        line-height: 1.5em;
        margin-top: 0.75em;
        margin-bottom: 1em;
        // margin-right: $gutter;
        // padding-bottom: 0.3em;
        // border-bottom: 2px solid $footertext
    }

    h4 {
        font-weight: bold;
        margin: 0;
        letter-spacing: 0.1em;
    }
}

#row1 {
    width: 90%;
    margin: 2em auto 1em;
    padding-bottom: 3em;
    // border-bottom: 1px solid #666;
}

#vcard {
    float: left;
    width: $column;
    margin-right: $gutter;
    p {
        margin: 0;
    }
}

.adr {
    margin-top: 1.5em;
}

.communication {
    color: $footertext;
    margin-top: 1.5em;
    padding: 0 $gutter;
    font-size: 1em; /* 12px */
    line-height: 1.5em; /* 24px */
    letter-spacing: 0.1em;
    td:first-child {
        padding-right: $gutter;
    }
    a:hover {
        color: $bg-html;
        border-bottom: 1px solid $bg-html;
        padding-bottom: 1px;
        text-decoration: none;
    }
}

#secondary-nav {
    @extend #vcard;
    width: ($column*2)+$gutter;
    margin: 0;
        li {
            float: left;
            width: 25%;
            list-style: none;
        }
            p {
                margin-bottom: 0.25em;
                letter-spacing: 0.1em;
            }
}

#secondary-nav p:before {
    content: "\00BB";
    padding-right: 1em;
    }

#secondary-nav .footer-col-header {
    text-transform: uppercase;
    &:before {
        content: "";
        padding-right: 0;}
}

#secondary-nav p.footer-col-header-2 {
    margin-top: 2em;
}

#row2 {
    width: 90%;
    margin: 0 auto 4em;
    font-size: 0.916667em; /* 11px */
    line-height: 2.181818em; /* 24px */
    text-align: center;
    color: darken($footertext, 25%);
    padding-bottom: 1em;
    ul {
        // width: 40%;
        margin: 0 auto 1em;
        display: block
    }
        li {
            display: inline-block;
            line-height: 1em;
            padding: 0 $gutter/4;
            border-right: 1px solid darken($footertext,25%);
            &:last-child {border: 0;}
        }
}

#row2 a {
    color: darken($footertext, 25%);
    &:hover {
        color: $bg-html;
        border-bottom: 1px solid $bg-html;
        padding-bottom: 1px;
        text-decoration: none;
    }
}

#row2 p {
    margin: 0;
    a {
        font-weight: bold;
        // border-bottom: 1px solid darken($footertext,25%);
        // padding-bottom: 1px;
        // text-decoration: none;

    }
}










/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}