@import "normalize.scss";

/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

// Modular Scale (16px/ Scale 2:3 - perfect fifth)
body {
    font-size: 1em;
    line-height: 1.5; 
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #a4be30;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #a4be30;
    color: #fff;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
    width: 100%;   // responsive images
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Fonts
   ========================================================================== */
@import "../fonts/FortAwesome-Font-Awesome-13d5dd3/sass/font-awesome.scss";

/* ==========================================================================
   GGS Aldenhoven custom styles
   ========================================================================== */

/*-------- SASS ------ */
/* --------Variables --*/

// color-variables
$headline: #637700;
$bodytext: #221919;
$footertext: #eee;
$navtext: #32362e;
$textlink: #6a7f10;
$hover: #e55A2D; // #8f2332
$textmeta: #6c6d6d;
$texthead: #6a7f10;
$bg_html: #a4be30;
$bg_content: #fdfcec;
$bg_footer: #111;
$bg_footer_meta: #555;
$bg_nav: #41661d;
$bg_banner: #edd290;

// sizes-variables
$gutter: 2.60416666%;
$column: 31.575520833333332%;

// Typography (Typeface,Vertical Rhythm and Scale)
@import "modular-scale.scss";

h1,h2,h3,h4,h5,h6,p {
    text-rendering: optimizeLegibility;
    line-height: $line-height-base; /* 1.5rem */
    margin-top: $line-height-base;
    margin-bottom: $line-height-base;
}

h1 {
  // font-size: 2.25em; /* 36px */
  @include type(3);
  text-transform: uppercase;
}

h2 {
  // font-size: 1.5em; /* 24px */
  // line-height: 1em; /* 24px */
  // margin-top: 1em;
  // margin-bottom: 1em;
  @include type(4);
  text-transform: uppercase;
}

h3 {
    // font-size: 1.125em; /* 18px */
    // line-height: 1.333333em; /* 24px */
    // margin-top: 1.5em;
    // margin-bottom: 1.5em;
    @include type(5);
    text-transform: uppercase;
}

h4 {
    // font-size: 1em; /* 16px */
    // line-height: 1.5em; /* 24px */
    // margin-top: 1.5em;
    // margin-bottom: 1.5em;
    @include type(6);
    font-weight: bold;
    text-transform: uppercase;
}

p {
  @include type(7);
  margin: 0 0 1.5rem 0;
  width: 100%;
}

p.readmore {
    margin: 0 0 2.25rem; 
}

.meta {
    @include type(8);
    margin-top: 0;
    margin-bottom: 0.75rem; //(2.1818rem)/2;
    color: $textmeta;
    font-style: italic;
}


// linear layout for older Browser (gte IE7) and FeaturePhones (240px)
// "First" Media-Query

/* apply a natural box layout model to all elements (all Browsers gte IE8)*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    background-color: $bg_html;
}

body {
    color: $bodytext;
}

#headermeta, #mainnav, #hero, #content{
    width: 96%;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: $textlink;
    border-bottom: 1px dashed $textlink;
    &:visited {@extend a};
    &:hover {
        background: transparent;
        color: $hover;
        border-bottom: 1px solid $hover;
    }
}

#content {
    padding: 0 $gutter;
    background-color: $bg_content;
    li {
        list-style: none;
    }
}


// H E A D E R

// metanav
#metanav {
    @include type(8);
    line-height: 2em;
    li {list-style: none;}
    a {
        color: $navtext;
        &:hover {
            color: $hover;
            border-bottom: 1px solid $hover;
            padding-bottom: 1px
        }
    }
}

// Search
form.search fieldset input[type="text"] {
    width: 12em;
    padding: 0.4em;
    border: 1px solid lighten($navtext,40%);
    background: #f5f5f5;
    }
form.search button.btn-search {
    width: 2em;
    padding: 0.4em 0.4em 0.4em 0.3em;
    margin-left: -0.35em;
    border: 1px solid lighten($navtext,40%);
    background: $bg_nav;
    i {
        color: #fff;
        line-height: 1.2em;
        vertical-align: baseline;
    }
}

form.search button.btn-search:hover, 
form.search button.btn-search:focus,
form.search button.btn-search:active {
    background: darken($bg_nav,10%);
}

// Branding (Logo)
#branding {
    background: $bg_banner;
    margin: 0;
    padding: 0.5rem;
    line-height: 2rem;
    a {
        color: $navtext;
        border: 0;
        padding: 0;
        &:hover {
        background: transparent;
        }
    }
}

.menubtn {
    display: none;
    visibility: hidden;
}

#mainnav a {
    color: $navtext;
    &:hover {
        color: $hover;
    }
}

#mainnav>ul>li>a {
    font-weight: bold;
}

#mainnav ul ul {margin-top: 0;}

// F R O N T P A G E
// Slider
#hero .flexslider {
    margin: 1rem auto 4rem;
    border: 0;
}

#hero .flex-control-nav {
    bottom: -1.5625rem; //25px
}

// tagline
header[role="heading"] {
    display: inline-block;
    text-align: center;
    color: $navtext;
    background: $bg_banner;
    padding: 1.5rem 0.5rem;
    width: 100%;
    h1 {
        line-height: 2.25rem;
    }
    h1,h3 {margin: 0;}
}

// content
.frontpage #content h3 {
    color: $texthead;
    margin-bottom: 0;
    a {
        padding: 0;
        border: 0;
        &:hover {
            color: $hover;
        }
    }
}

.frontpage #content h2 span {
    @include type(7); //16px
}

.frontpage #content p.excerpt {
    margin-bottom: 1rem;
}

.linkto {
    margin-bottom: 3em;
        a {
        color: $textmeta;
        font-weight: bold;
        font-size: 14px;
        font-size: 0.875rem;
        border: 0;
        padding: 0;
        &:hover {
            color: $hover;
        }
    }
}

#news li:last-child p.readmore {
    margin-bottom: 1.5rem;
}

#events .date {
    margin-bottom: 0;
    li.day-month {
        color: $textmeta;
        font-weight: bold;
        font-size: 1.25rem; /* 20px */
        line-height: 0.75em;
        }
    li.year {
        font-style: italic;
        color: $textmeta;
        font-size: 1rem;  /* 16px */
    }
}

#events h3 {margin: 0;}

#frontgallery li {
    display: block;
    margin-bottom: 1.5rem;
}

// F O O T E R
footer {
    background: $bg_footer;
    color: $footertext;
    padding: 0 $gutter;
    letter-spacing: 0.05rem;
    a {
        color: $footertext;
        border: 0;
        padding: 0;
        &:hover {
            background: transparent;
            padding-bottom: 1px;
            border-bottom: 1px solid darken($footertext, 20%)
        }
    }
}

#vcard {
    width: 96%;
    margin: 2rem auto 1rem;
    padding-bottom: 1rem;
    text-align: center;
    p.fn {
        margin-top: 0.75rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
    }
    .name p strong {
        font-weight: bold;
        margin: 0;
        text-transform: uppercase;
    }
    p {
        @include type(8); // 12.8px/24px
        line-height: 1.25rem;
        margin: 0;
    }
}

.adr {
    margin-top: 1rem;
}

.communication {
    @include type(8); // 12.8px/24px
    line-height: 1.25rem;
    color: $footertext;
    padding: 0 $gutter;
    margin: 1rem auto 0;
    td {
        padding-right: .75rem;
    }
    a { border-bottom: 1px solid $footertext;
        padding-bottom: 1px;
        &:hover{
        color: $bg-html;
        border-bottom: 1px solid $bg-html;
        padding-bottom: 1px;
        text-decoration: none;
        }
    }
}

#footermeta {
    padding: 1rem 0;
    @include type(9); //10.24px/24px
    text-align: center;
    color: darken($footertext, 25%);
    background-color: $bg_footer_meta;
    ul {
        margin: 0 auto 0.5rem;
        display: block;
        li {
            margin: 0;
            list-style: none;}
            a {
            border-bottom: 1px solid;
            padding-bottom: 1px;
            color: darken($footertext, 25%);
            &:hover {
                color: $bg-html;
                border-bottom: 1px solid $bg-html;
                padding-bottom: 1px;
                text-decoration: none;
            }
        }
    }
}

.footermetanav li {
    display: inline-block;
    padding: 0 $gutter/4;
}





/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Horizontal Ruler without <hr> (can be put in media queries instead of html)
 */

.hdrprimary:before {
    border: 1px solid $bg-html;
    border-width: 1px 0;
    content: "";
    display: block;
    height: 2px;
    left: 0;
    top: -90%;
    margin: 0 auto;
    position: absolute;
    width: 100%;
    z-index:1;
}

h2.hdrprimary {position: relative;}


/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.cf {
    *zoom: 1;
}

/* ==========================================================================
    Media Queries for Responsive Design.
   ========================================================================== */

@import "mq-20em.scss";
@import "mq-48em.scss";

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}